h2 {
    margin: 0;
    /* margin-top: 0; */
    /* margin-bottom: 20px; */
    /* Add spacing below the heading */
    font-size: 2em;
    font: Avenir;
    /* Adjust heading size if needed */
}

#forgot-password-header {
    margin-bottom: 10px;
}